// Variables
title_font = Oswald
subtitle_font = Raleway

// Conditionals



// Global style elements
body
  margin: 0 0 0 0
  padding: 0 0 0 0
  h1
    font: bold small-caps 4vh title_font
  h2
    font: bold 4vh title_font
  h3
    font: 4vh title_font
  h4
    font: italic 3vh title_font
  h5
    font: 3vh subtitle_font
  h6
    font: italic 3vh subtitle_font
  p
    font-family: Raleway
  a
    font-family: Oswald
    text-decoration: none

  .myPage
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    overflow: hidden
