// Variables
title_font = Oswald
subtitle_font = Raleway

// Conditionals



// Global style elements
body
  margin: 0 0 0 0
  padding: 0 0 0 0
  h1
    font: bold small-caps 4vh title_font
    letter-spacing: .1vw
  h2
    font: bold 4vh title_font
    letter-spacing: .1vw
  h3
    font: 4vh title_font
    letter-spacing: .1vw
  h4
    font: 3vh title_font
    letter-spacing: .08vw
  h5
    font: 3vh subtitle_font
    letter-spacing: .08vw
  h6
    font: italic 2.2vh subtitle_font
    letter-spacing: .08vw
  p
    font-family: 2vh Raleway
  a
    font: 2.5vh title_font
    letter-spacing: .08vw
    text-decoration: none
  ul
    font-family: Oswald
    list-style-type: none
    text-decoration: none

  .myPage
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    overflow: hidden
