// Variables
title_font = Oswald
subtitle_font = Raleway
dark_background = #0F0E0F
// Conditionals



// Global style elements
body
  margin: 0
  padding: 0
  background: dark_background
  color: white
  h1
    font: bold small-caps 4vh title_font
    letter-spacing: .1vw
  h2
    font: bold 4vh title_font
    letter-spacing: .1vw
  h3
    font: 4vh title_font
    letter-spacing: .1vw
  h4
    font: 3vh title_font
    letter-spacing: .08vw
  h5
    font: 3vh subtitle_font
    letter-spacing: .08vw
  h6
    font: italic 2.2vh subtitle_font
    letter-spacing: .08vw
  p
    font: 2vh Raleway
  a
    font: 2.5vh title_font
    letter-spacing: .08vw
    text-decoration: none
  ul
    font-family: Oswald
    list-style-type: none
    text-decoration: none

  .myPage
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    overflow: hidden

.component-fade-enter-active, .component-fade-leave-active
  transition: opacity .3s ease

.component-fade-enter, .component-fade-leave-to
  opacity: 0


.links
  width: 100%
  height: 7hv
  font-size: 3vh
  padding-top: 2vh
  position: fixed
  margin: 0
  bottom: 0px
  background: dark_background
  border-top: 3px solid white
  #insta
    vertical-align: middle
    margin-bottom: 1vh
    height: 3.6vh
    width: auto
