// Variables
dark_background = #0F0E0F
db_font_color = #FFFFFF
db_highlight_font = #28C8F9

// Conditionals


// Global style elements
body
  background-color: dark_background
  color: db_font_color
  a
    color: db_font_color
  a:hover
    color: db_highlight_font
    z-index: 2
  ul
    padding: 0
  li
    margin-bottom: 2vh
  .img
    display: inline-block
    vertical-align: middle
    width: auto
    height: 10vh

.right_btn
  position: absolute
  width: 60vw
  height: 10vh
  right: 25%
  opacity: .5
  .img

    float: right
    width:
  .text
    display: inline-block
    vertical-align: middle
    float: left
