// Variables
dark_background = #0F0E0F
db_font_color = #FFFFFF
db_highlight_font = #28C8F9


// Conditionals


// Global style elements


body
  background-color: dark_background
  color: db_font_color
  a
    color: db_font_color
  a:hover
    color: db_highlight_font
    z-index: 2
  ul
    padding: 0
  li
    margin-bottom: 2vh
  .right_btn, .left_btn
    margin-left: auto
    margin-right: auto
    display: block
    opacity: .5
  #IMG
    display: inline-block
    width: auto
  .img
    vertical-align: middle
    display: inline-block
    overflow: hidden
  .text
    display: inline-block
    border-top: 2px solid white
    border-bottom: 2px solid white
    padding: 0 0 0 0
    margin: 0 0 0 0
  h1, h2, h3, h4, h5, h6
    margin: 0 0 0 0
    vertical-align: middle

  .right_btn
    .img
      margin-left: 0
    .text
      float: left
      margin-right: 0
      text-align: right
  .right_btn:hover
    opacity: 1

  .left_btn
    .img
      float: left
      margin-right: 0
    .text
      margin-left: 0
      text-align: left
  .left_btn:hover
    opacity: 1

// variable sizing:
mySelectors = '.right_btn, .left_btn, #IMG, .text'

{mySelectors}
  for i in 1..4
    @media (min-width: 2**(i+7)px)
      height: 30px*i

.right_btn, .left_btn
  for i in 1..4
    @media (min-width: 2**(i+7)px)
      margin-top: 30px*i
      width: 250px*i
.text
  for i in 1..4
    @media (min-width: 2**(i+7)px)
      width: 90px*i
h4
  for i in 1..4
    @media (min-width: 2**(i+7)px)
      font: 8px*i Oswald
      padding: 4px*i 4px*i 0px*i 4px*i
h6
  for i in 1..4
    @media (min-width: 2**(i+7)px)
      font: italic 6px*i Raleway
      padding: 0px*i 4px*i 4px*i 4px*i
