// Variables
dark_background = #0F0E0F
db_font_color = #FFFFFF
db_highlight_font = #28C8F9

// Conditionals


// Global style elements
body
  background-color: dark_background
  a
    color: db_font_color
  a:hover
    color: db_highlight_font
    z-index: 2
  ul
    padding: 0
  li
    margin-bottom: 2vh

.side-bar
  display: inline-block
  width: 100vw
  min-width: 180px
  height: 100vh
  min-height: 500px
  margin: 0 0 0 0
  padding: 0 0 0 0
  #cont
    position: absolute
    width: 100vw
    height: 100vh
    top: 0
    left: 0
    z-index: 0
    .background-img
      position: absolute
      top: 0
      left: 0
      z-index: -1
  #hide
    display:
    .cvr-arrow
      position: absolute
      right: 5vw
      top: 40vh
      height: 20vh
      width: auto
      z-index: 1
    .prompt
      position: absolute
      right: 10vw
      top: 45vh
      width: auto
      height: auto
      text-align: right
      line-height: 30px
      letter-spacing: 2px
      color: db_font_color
    .prompt:hover
      color: db_highlight_font
  .side-bar_menu
    z-index: 1
    position: absolute
    top: 0
    left: 0
    width: 16vw
    min-width: 180px
    height: 100vh
    min-height: 500px
    max-height: 100vh
    background-color: rgba(43,42,44,0.75)
    .name_title
      width: 85%
      height: auto
      color: db_font_color
      border: 2px solid #C0BDBD
      margin-left: auto
      margin-right: auto
      margin-top: 5%
      padding-left: 5%
    .side_menu, .side_description
      margin-top: 25vh
      margin-right: auto
      margin-left: auto
      width: 85%
      height: auto
      color: db_font_color
    .side_description
      display: none
