body {
  background-color: #0f0e0f;
}
body a {
  color: #fff;
}
body a:hover {
  color: #28c8f9;
  z-index: 2;
}
body ul {
  padding: 0;
}
body li {
  margin-bottom: 2vh;
}
body .welcome_panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.side-bar {
  display: inline-block;
  width: 100vw;
  min-width: 180px;
  height: 100vh;
  min-height: 500px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.side-bar #cont {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: none;
}
.side-bar #cont .background-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (min-aspect-ratio: 24/15), (orientation: landscape) {
  .side-bar #cont .background-img {
    width: 100vw;
    height: auto;
  }
}
@media (max-aspect-ratio: 24/15), (orientation: portrait) {
  .side-bar #cont .background-img {
    height: 100vh;
    width: auto;
  }
}
.side-bar #hide .cvr-arrow {
  position: absolute;
  right: 5vw;
  top: 40vh;
  height: 20vh;
  width: auto;
  z-index: 1;
}
.side-bar #hide .prompt {
  position: absolute;
  right: 10vw;
  top: 45vh;
  width: auto;
  height: auto;
  text-align: right;
  line-height: 30px;
  letter-spacing: 2px;
  color: #fff;
}
.side-bar #hide .prompt:hover {
  color: #28c8f9;
}
.side-bar .side-bar_menu {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 16vw;
  min-width: 180px;
  height: 100vh;
  min-height: 500px;
  max-height: 100vh;
  background-color: rgba(43,42,44,0.75);
}
.side-bar .side-bar_menu .name_title {
  width: 85%;
  height: auto;
  color: #fff;
  border: 2px solid #c0bdbd;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding-left: 5%;
}
.side-bar .side-bar_menu .side_menu,
.side-bar .side-bar_menu .side_description {
  margin-top: 25vh;
  margin-right: auto;
  margin-left: auto;
  width: 85%;
  height: auto;
  color: #fff;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1.5s;
}
.fade-enter,
.fade-leave-to {
  transform: scaleY(x);
  opacity: 0;
}
.fade-delay-enter-active,
.fade-delay-leave-active {
  transition: opacity 0.8s;
}
.fade-delay-enter,
.fade-delay-leave-to {
  opacity: 0;
}
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 2s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(-84vw);
  opacity: 0;
}
.slide-enter-active,
.slide-leave-active {
  transition: all 2.5s ease;
}
.slide-enter,
.slide-leave-to {
  transform: translateX(-84vw);
  opacity: 0;
}
