body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
body h1 {
  font: bold small-caps 4vh Oswald;
}
body h2 {
  font: bold 4vh Oswald;
}
body h3 {
  font: 4vh Oswald;
}
body h4 {
  font: italic 3vh Oswald;
}
body h5 {
  font: 3vh Raleway;
}
body h6 {
  font: italic 3vh Raleway;
}
body p {
  font-family: Raleway;
}
body a {
  font-family: Oswald;
  text-decoration: none;
}
body .myPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
