body {
  background-color: #0f0e0f;
  color: #fff;
}
body a {
  color: #fff;
}
body a:hover {
  color: #28c8f9;
  z-index: 2;
}
body ul {
  padding: 0;
}
body li {
  margin-bottom: 2vh;
}
body .right_btn,
body .left_btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
  opacity: 0.5;
}
body #IMG {
  display: inline-block;
  width: auto;
}
body .img {
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
}
body .text {
  display: inline-block;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0 0 0 0;
  vertical-align: middle;
}
body .right_btn .img {
  margin-left: 0;
}
body .right_btn .text {
  float: left;
  margin-right: 0;
  text-align: right;
}
body .right_btn:hover {
  opacity: 1;
}
body .left_btn .img {
  float: left;
  margin-right: 0;
}
body .left_btn .text {
  margin-left: 0;
  text-align: left;
}
body .left_btn:hover {
  opacity: 1;
}
@media (min-width: 256px) {
  .right_btn,
  .left_btn,
  #IMG,
  .text {
    height: 30px;
  }
}
@media (min-width: 512px) {
  .right_btn,
  .left_btn,
  #IMG,
  .text {
    height: 60px;
  }
}
@media (min-width: 1024px) {
  .right_btn,
  .left_btn,
  #IMG,
  .text {
    height: 90px;
  }
}
@media (min-width: 2048px) {
  .right_btn,
  .left_btn,
  #IMG,
  .text {
    height: 120px;
  }
}
@media (min-width: 256px) {
  .right_btn,
  .left_btn {
    margin-top: 30px;
    width: 250px;
  }
}
@media (min-width: 512px) {
  .right_btn,
  .left_btn {
    margin-top: 60px;
    width: 500px;
  }
}
@media (min-width: 1024px) {
  .right_btn,
  .left_btn {
    margin-top: 90px;
    width: 750px;
  }
}
@media (min-width: 2048px) {
  .right_btn,
  .left_btn {
    margin-top: 120px;
    width: 1000px;
  }
}
@media (min-width: 256px) {
  .text {
    width: 90px;
  }
}
@media (min-width: 512px) {
  .text {
    width: 180px;
  }
}
@media (min-width: 1024px) {
  .text {
    width: 270px;
  }
}
@media (min-width: 2048px) {
  .text {
    width: 360px;
  }
}
@media (min-width: 256px) {
  h4 {
    font: 8px Oswald;
    padding: 4px 4px 0px 4px;
  }
}
@media (min-width: 512px) {
  h4 {
    font: 16px Oswald;
    padding: 8px 8px 0px 8px;
  }
}
@media (min-width: 1024px) {
  h4 {
    font: 24px Oswald;
    padding: 12px 12px 0px 12px;
  }
}
@media (min-width: 2048px) {
  h4 {
    font: 32px Oswald;
    padding: 16px 16px 0px 16px;
  }
}
@media (min-width: 256px) {
  h6 {
    font: italic 6px Raleway;
    padding: 0px 4px 4px 4px;
  }
}
@media (min-width: 512px) {
  h6 {
    font: italic 12px Raleway;
    padding: 0px 8px 8px 8px;
  }
}
@media (min-width: 1024px) {
  h6 {
    font: italic 18px Raleway;
    padding: 0px 12px 12px 12px;
  }
}
@media (min-width: 2048px) {
  h6 {
    font: italic 24px Raleway;
    padding: 0px 16px 16px 16px;
  }
}
