body {
  background-color: #0f0e0f;
}
body a {
  color: #fff;
}
body a:hover {
  color: #28c8f9;
  z-index: 2;
}
body ul {
  padding: 0;
}
body li {
  margin-bottom: 2vh;
}
.side-bar {
  display: inline-block;
  width: 100vw;
  min-width: 180px;
  height: 100vh;
  min-height: 500px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.side-bar #cont {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}
.side-bar #cont .background-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.side-bar #hide .cvr-arrow {
  position: absolute;
  right: 5vw;
  top: 40vh;
  height: 20vh;
  width: auto;
  z-index: 1;
}
.side-bar #hide .prompt {
  position: absolute;
  right: 10vw;
  top: 45vh;
  width: auto;
  height: auto;
  text-align: right;
  line-height: 30px;
  letter-spacing: 2px;
  color: #fff;
}
.side-bar #hide .prompt:hover {
  color: #28c8f9;
}
.side-bar .side-bar_menu {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 16vw;
  min-width: 180px;
  height: 100vh;
  min-height: 500px;
  max-height: 100vh;
  background-color: rgba(43,42,44,0.75);
}
.side-bar .side-bar_menu .name_title {
  width: 85%;
  height: auto;
  color: #fff;
  border: 2px solid #c0bdbd;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding-left: 5%;
}
.side-bar .side-bar_menu .side_menu,
.side-bar .side-bar_menu .side_description {
  margin-top: 25vh;
  margin-right: auto;
  margin-left: auto;
  width: 85%;
  height: auto;
  color: #fff;
}
.side-bar .side-bar_menu .side_description {
  display: none;
}
